@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Open+Sans+Condensed:ital,wght@0,700;1,300&display=swap');

body{margin: 0; padding: 0; font-family: 'Crete Round', serif; color:#333;}

a{color:#666; text-transform: uppercase; text-decoration: none; margin-left: 10px;}

a:hover{color: #EE9323; border-bottom: 1px solid #EE9323;}

p, a {font-size:17px; font-family: 'Crete Round', serif;}

nav{ display: flex; align-items: center;}

h1{font-size:50px; width: 500px;}

main{margin-left: 120px; margin-bottom: 80px;}

button {font-size: 18px; width: 400px; height: 60px; border: 2px solid #333; background-color: transparent; text-transform: uppercase; padding: 5px; cursor: pointer;}

button:hover {font-weight: bold;}

h2{display: flex; align-items: center;}

h3{color: white; font-size: 60px;}

footer {background-color: #2d2938; height: 350px; width:100%; text-align:center; text-transform: uppercase; padding: 20px;}

footer button {cursor: pointer; color: white; background-color: #EE9323; border-radius: 80px; font-size: 17px; border: none; font-weight: bold; letter-spacing: 2px;}

footer button:hover{color:black; border-color: gray;}

h1, h2, h3{font-family: 'Open Sans Condensed', sans-serif;}
